@charset "utf-8";

/* Icon */
.tabsHeader li.main a span span, #taskbar li .taskbutton span { background:url(./images/icon.png) no-repeat;}

/* Panel */
.panel,
.panel .panelHeader, .panel .panelHeaderContent, .panel .panelHeaderContent h1,
.panel .panelFooter, .panel .panelFooterContent { background:url(./images/panel/panel.png) no-repeat;}
.panel .expandable, .panel .collapsable { background:url(./images/panel/panel_icon.png) no-repeat;}
.panel .panelHeaderContent h1 { color:#15428B; }
.panel .panelContent { border-color:#99bbe8; background:#e4ebf6;}

.panel .grid { border-color:#99bbe8;}

/* Tabs */
.tabs, .tabsHeader, .tabsHeaderContent,
.tabs .tabsHeader ul, .tabs .tabsHeader li, .tabs .tabsHeader li a, .tabs .tabsHeader li span,
.tabs .tabsFooter, .tabs .tabsFooterContent { background:url(./images/tabs/tabspanel.png) no-repeat;}

.tabs .tabsHeader li a { color:#03408b;}
.tabs .tabsHeader li span { color:#15428B;}
.tabs .tabsContent { border-color:#99bbe8; background:#e4ebf6;}

/* TabsPage */
.tabsPage .tabsPageHeader, .tabsPage .tabsPageHeader li, .tabsPage .tabsPageHeader li a, .tabsPage .tabsPageHeader li span { background:url(./images/tabs/tabspage.png) no-repeat;}
.tabsPage .tabsPageHeader { background-color:#e9f0f2;}
.tabsPage .tabsPageHeader { border-color:#99bbe8;}
.tabsPage .tabsPageHeader li a { color:#15428B;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li.hover .close,
.tabsPage .tabsPageHeader li.selected .close { background:url(./images/tabs/tabspage_icon.png) no-repeat;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore { background:url(./images/tabs/tabscontrol.png) no-repeat;}
.tabsPage .tabsMoreList { border-color:#88a0be; background:#FFF;}
.tabsPage .tabsPageHeader .home_icon { background:url(./images/icon.png) no-repeat;}
.tabsPage .tabsPageContent { border-color:#88a0be; background:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c { background:url(./images/alert/alertpanel.png) no-repeat;}
.alert .alertContent { border-color:#88a0be; background:#ced9e7;}
.alert .warn .alertInner { border-color:#e83e09; background:#fefacf;}
.alert .error .alertInner { border-color:#e50000; background:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner { border-color:#99bbe8; background:#fefacf;}
.alert .confirm .alertInner { border-color:#99bbe8; background:#fefacf;}
.alert h1 { border-color:#CCC; background:url(./images/alert/alertpanel_icon.png) no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r, .dialog .dialogHeader_c,
.dialog .dialogFooter, .dialog .dialogFooter_r, .dialog .dialogFooter_c { background:url(./images/dialog/dialogpanel.png) no-repeat;}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r { background:url(./images/dialog/dialogpanel_icon.png) no-repeat;_background:url(./images/dialog/dialogpanel_icon.gif) no-repeat;}
.dialog .dialogHeader h1 { color:#15428B;}
.dialog .dialogContent { border-color:#99bbe8; background:#e4ebf6;}

.resizable { border-color:#081629; background:#c3d7dc;}

/* Shadow */
.shadow .shadow_h_l { background:url(./images/shadow/shadow_h_l.png) no-repeat;}
.shadow .shadow_h_r { background:url(./images/shadow/shadow_h_r.png) no-repeat;}
.shadow .shadow_h_c { background:url(./images/shadow/shadow_h_c.png) repeat-x;}
.shadow .shadow_c_l { background:url(./images/shadow/shadow_c_l.png) repeat-y;}
.shadow .shadow_c_r { background:url(./images/shadow/shadow_c_r.png) repeat-y;}
.shadow .shadow_c_c { background:url(./images/shadow/shadow_c_c.png) repeat;}
.shadow .shadow_f_l { background:url(./images/shadow/shadow_f_l.png) no-repeat;}
.shadow .shadow_f_r { background:url(./images/shadow/shadow_f_r.png) no-repeat;}
.shadow .shadow_f_c { background:url(./images/shadow/shadow_f_c.png) repeat-x;}

/* Tree */
.tree div div { background:url(./images/tree/tree.png) no-repeat;}
.tree .folder_collapsable, .tree .folder_expandable, .tree .file { background:url(./images/tree/folder.png) no-repeat;_background:url(./images/tree/folder.gif) no-repeat; }
.tree .checked, .tree .unchecked, .tree .indeterminate { background:url(./images/tree/check.png) no-repeat;}
.tree ul { background:#FFF;}
.tree li a, .tree li span { color:#15428B;}
.tree .hover { background:#f5f5f5;}
.tree .selected { background-color:#e8edf3;}

/* Accordion*/
.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span
 {
 	color:#15428B;
 	background:url(./images/accordion/accordion.png);/*IE7,FF*/
 	_background:url(./images/accordion/accordion.gif);/*IE6*/
  }
.accordion { border-color:#99bbe8; background:#FFF;}
.accordion .accordionHeader { background-color:#eaf4ff;}
.accordion .accordionContent { border-color:#99bbe8;}

/* Grid */
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto { background:url(./images/grid/grid.png) no-repeat; _background:url(./images/grid/grid.gif) no-repeat;}

.panelBar { border-color:#99bbe8; background-color:#efefef;}

.grid .gridHeader { background:#EEE;}
.grid { background:#FFF;}
.grid table { border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(./images/grid/tableth.png) repeat-x;}
.grid table th div { border-left-color:#EEE; border-right-color:#d0d0d0;}
.grid table td { border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy { background:url(./images/grid/resizeCol.png) repeat-y;}

.grid .gridHeader th.hover, .grid .gridHeader th.thSelected { border-color:#aaccf6; }
.grid .gridTbody .gridRowBg { background:#f7f7f7;}
.grid .gridTbody .gridRow { border-color:#ededed;}
.grid .gridTbody .gridRow td.tdLast { border-color:#ededed;}
.grid .gridTbody .hover { border-color:#dddddd; background:#f5f5f5;}
.grid .gridTbody .hover .tdSelected { background:#f5f5f5;}
.grid .gridTbody .selected { border-color:#99bbe8; background:#dfe8f6;}
.grid .gridTbody .selected .tdSelected { background:#e8edf3;}
.grid .gridTbody .tdSelected { background:#f8f8f8;}
.grid .error{background:#fb7e81;}

/* ProgressBar */
.progressBar { border:solid 2px #86a5ad; background:#FFF url(./images/progressBar/progressBar_m.gif) no-repeat 10px 10px;}

/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled { background:url(./images/form/input_bg.png) no-repeat scroll;}

.textInput, .textArea { border-color:#a2bac0 #99bbe8 #99bbe8 #a2bac0; background-color:#FFF;}
input.required, textarea.required { border-color:#a2bac0 #99bbe8 #99bbe8 #a2bac0; background-color:#FFF;}
input.error, textarea.error { border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus { border-color:#8db2e3 #99bbe8 #99bbe8 #8db2e3; background-color:#f8fafc;}
input.readonly, textarea.readonly { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}
input.disabled, textarea.disabled { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}

.inputButton, .inputDateButton { background:url(./images/form/input_bt.png) no-repeat;}

/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent { background:url(./images/button/button_s.png) no-repeat;_background:url(./images/button/button_s.gif) no-repeat;}

.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { color:#15428B;}

.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button { color:#999;}

/* ----------------------------------------------------------------- Pages */
/* Layout */
body, #splitBar { background:#dfe8f6;}
#splitBarProxy { border-color:#c0c0c0; background:#CCC;}

#header, #header .headerNav { background-color:#03419a; }
#header { background-color:#03419a;}
#header .logo { background:url(./images/header.jpg) no-repeat;} 
/*#header .logo { background:url(../default/images/logo.png) no-repeat;} */
#header .nav li { float:left; margin-left:-1px; padding:0 8px; line-height:11px; border-left:solid 1px #fff;}
#header .nav li a { color:#fff;}
#header .themeList li div { background:url(../default/images/themeButton.png) no-repeat;}
.toggleCollapse, .toggleCollapse div { background:url(./images/layout/toggleSidebar.png) no-repeat;_background:url(./images/layout/toggleSidebar.gif) no-repeat;}
.toggleCollapse { border-style:solid; border-width:1px 1px 0 1px; border-color:#99BBE8; background-color:#dfe8f6;}
.toggleCollapse h2 { color:#15428B;}
#sidebar_s .collapse { border:solid 1px #99bbe8; background:#eff5f6;}
#sidebar_s .collapse:hover { background:#f5f9fa;}

#taskbar, #taskbar li, #taskbar li .taskbutton { background:url(./images/layout/taskbar.png) no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize { background:url(./images/layout/taskbar_icon.png) no-repeat;}
#taskbar li .taskbutton span { color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight { background:url(./images/layout/taskbar_control.png) no-repeat;}

/* Menu */
#navMenu, #navMenu li, #navMenu li.selected a, #navMenu li.selected span { background:url(../default/images/menu/menu.png) no-repeat;}
#navMenu { background-color:#1871dd; }
#navMenu li a, #navMenu li span { color:#FFF; }
#navMenu li.selected span { color:#000; }

/* Homepage */
.sidebarContent { display:block; overflow:auto; height:500px; border:solid 1px #86B4EC; background:#FFF;}
.accountInfo { display:block; overflow:hidden; height:60px; padding:0 10px; background:url(./images/account_info_bg.png) repeat-x}
.accountInfo p { padding:8px 0 0 0; line-height:19px;}
.accountInfo p span { font-size:14px; font-weight:bold;}
.accountInfo .right { float:right; padding-right:10px; text-align:right;}
.accountInfo .alertInfo { float:right; width:300px; height:60px; padding-left:10px; border-left:solid 1px #accdf4;}
.accountInfo .alertInfo h2 { padding:8px 0; line-height:17px;}
.accountInfo .alertInfo a { padding:6px 0 0 0; line-height:21px;}

/* Pages */
.pageForm .inputInfo { color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent { border-color:#99bbe8;}
.dialog .pageContent .pageFormContent { border-color:#99bbe8; background:#FFF;}

/* Pages default */
.page .pageHeader, .formBar { border-color:#99bbe8; background:#ebf0f5 url(../default/images/pageHeader_bg.png) repeat-x;}
.page .searchBar label { color:#15428B;}

/* Pages Form */
.formBar { border-color:#99bbe8;}
.divider { border-color:#99bbe8;}

/* combox */
.combox .select a  { color:#15428B; }
.comboxop { border-color:#99bbe8; }
.combox, .combox div, .combox div a { background:url(../default/images/search-bg.gif) no-repeat; }


/*侧边栏*/

.DIYSidebar_1, .DIYSidebar_2{
	display:block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #99BBE8;
	border-right-color: #99BBE8;
	border-bottom-color: #99BBE8;
	border-left-color: #99BBE8;
	position:absolute;
	height:100%;

}
.DIYSidebar_1 {
	
	width: 180px;
	background-color: #FFFFFF;
	vertical-align:middle;
	z-index:2;
	left:1px;	
}
.DIYSidebar_2 {
	left:-20px;
	width: 20px;
	background-color: #DFE8F6;
	z-index:3;
	
}
.SidebarClose, .SidebarOpen{
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 17px;
	width: 20px;
	
		
	
}
.SidebarClose:hover, .SidebarOpen:hover{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #99BBE8;
	border-right-color: #99BBE8;
	border-bottom-color: #99BBE8;
	border-left-color: #99BBE8;
}
.SidebarClose {
	background-position: 100% -50px;
	float:right;
	margin-right: 5px;

}
.SidebarOpen {
	background-position: -4px -150px;
	float:left;
}


 .SidebarClose, .SidebarOpen, .DIYhead {
	background-image: url(./images/layout/toggleSidebar.png);	
	_background-image: url(./images/layout/toggleSidebar.gif);/*ie6*/
}
.DIYcontent {
	display:block;
	float:right;
	position:absolute;
	height:100%;
	width:100%;
	z-index:1;
}


.DIYhead {
	display:block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99BBE8;
	font-size: 12px;
	text-align: left;
	text-indent: 10px;
	vertical-align: middle;
	line-height: 22px;
	background-color: #DFE8F6;
	
}
.DIYToggleMenu{
	height: 100%;
	width: 20px;
	background-color: #DFE8F6;
}
.DIYTree{
height:100%;
overflow:auto;
}
.DIYTable{padding:0; margin:0; font-size:12px;  line-height:100%;line-height:21px; font-family:Arial, sans-serif;}
.DIYTable th{ border-style:solid; border-width:0 1px 1px 0;  white-space:nowrap; line-height:21px; cursor:default; border-left-color:#EEE; border-right-color:#d0d0d0;background:#f0eff0 url(./images/grid/tableth.png) repeat-x;}
.DIYTable td { border-right:solid 1px #ededed; overflow:hidden;  border-bottom:solid 1px #ededed; vertical-align:middle; line-height:21px;}
.DIYTable th:hover{ border-color:#aaccf6; background-position:0 -50px;}
.DIYTable td:hover{border-color:#dddddd; background-color:#F4F4F7; }

/*主页桌面样式*/
.drag_div {
	BORDER-BOTTOM:solid 1px #DFE8F6;
    BORDER-LEFT: solid 1px #DFE8F6;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 20px 5px 5px; 
    PADDING-LEFT: 0px; 
    WIDTH: 100%; 
    PADDING-RIGHT: 0px; 
    BORDER-TOP: solid 1px #DFE8F6;
    BORDER-RIGHT: solid 1px #DFE8F6; 
    PADDING-TOP: 0px;
    background: #DFE8F6;
}
.drag_title
{
     background: #DFE8F6;
}
.pagehead2
{
    border-bottom: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
    background: #DFE8F6;
    height: 20px;
    border-top: #ffffff 1px solid;
    border-right: #ffffff 1px solid;
}

        #title
        {
            border-bottom: 1px solid #bbb;
            font-size: 12px;
            padding: 0 0 10px;
        }
        #title h1
        {
            font-size: 16px;
        }
        #title #intro
        {
        }
        .col_div
        {
            float: left;
            margin: 0px 0px 0px 0px;
        }
        .drag_div, .modbox
        {
            width: 100%;
            margin: 0px 5px 5px 5px auto;
            border: 1px solid #999;
            padding: 0px;
        }
        .drag_header
        {
            height: 22px;
        }
        .drag_content
        {
            margin: 5px;
        }
        .drag_editor
        {
            background: #EBEBEB;
            padding: 10px;
            color: #333;
        }
        .no_drag
        {
            height: 0px;
            overflow: hidden;
            padding: 0;
            border: 0;
        }
        .btitle
        {
            display: inline;
        }
        .imglink
        {
            cursor: hand;
            margin-right: 2px;
            border: 0px;
        }
         #popupImgMenuID
        {
            border: 1px solid  #DFE8F6;
            background-color: #DFE8F6;
            padding: 5px;
            width: 100px;
        }
        .imglinkgray
        {
            cursor: hand;
            margin-right: 2px;
            filter: alpha(opacity=50);
            filter: gray();
        }
       
  .block_editor_a
        {
            display: inline;
            width: 30%;
            padding: 2px;
        }
        .block_editor_b
        {
            display: inline;
            width: 70%;
            padding: 2px;
            text-align: left;
        }
        .colorblock
        {
            display: inline;
            border: 1px solid #666;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
        .colorblock_img
        {
            display: inline;
            border: 0px solid #666;
            width: 14px;
            height: 8px;
            margin-right: 3px;
        }
        .block_button
        {
            border: 1px solid #333;
            width: 50px;
            height: 18px;
            margin-left: 10px;
        }
        .block_input
        {
            border: 1px solid #666;
            height: 18px;
            width:20px;
        }
        .colorblock_s
        {
            display: inline;
            border: 1px solid black;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            font: bold;
        }
        .bold
        {
            font: bold;
        }
        .no_bold
        {
            font: '';
        }
        .layoutnum
        {
            width: 30px;
            background: #EEE;
            border: 1px solid #AAA;
            margin-left: 10px;
            text-align: center;
            display: inline;
            font-weight: bold;
            color: #666;
            cursor: hand;
        }
        .layoutnumselect
        {
            width: 30px;
            background: #D8E0F5;
            border: 1px solid #AAA;
            margin-left: 10px;
            text-align: center;
            display: inline;
            font-weight: bold;
            color: #666;
            cursor: hand;
        }
        .panelcon
        {
            padding: 5px;
            border-bottom: 1px solid #eee;
            background: #fff;
            width: 100%;
            color: #333;
        }
        .panelicon
        {
            margin-right: 10px;
        }
        .paneladdimg
        {
            margin-left: 10px;
            cursor: hand;
        }
      #popupConMenuID
      {
          position:absolute;
          border: #DFE8F6 1px solid;
          background-color:#DFE8F6;
          padding-left: 5px;
          width: 200px; 
          padding-right: 5px;
          z-index: 10; 
          padding-bottom: 5px;
        top: 20px;  
        padding-top: 5px; 
        left: 15px;
          
      }
      .MouseOver
      {
          background:#EEEEEE;
      }
      .DIYsplit{ position:absolute; cursor:e-resize;background-color:#DFE8F6; z-index:100000; height:100%; width:2px; left:178px;}
      
      
.fontColor { color:#15428B;}