@import './_mixin.scss';
@import './resetPc';

// 浮动、清除浮动
.clearfix {
    @include clearFix;
    zoom: 1;

    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
}
.disabled {
    cursor:not-allowed !important;
}
.iconfont {
    @include iconfont;
}
.hidden {
    display: none !important;
}

html {
    height: 100%;
}
body {
    margin:0 auto;
    overflow-x:auto;
    color: #333;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999;
}

// 表格
.p-tab-theme-1 {
    width: 100%;
    font-size: 14px;
    color: #4c4c4c;
    text-align: left;
    border: 1px solid #e6e6e6;

    th,
    td {
        position: relative;
        padding: 5px 20px;
    }
    th{
        color: #fff;
        border: 1px solid #ebebeb;
        background: #2e7ae6;
    }
    tbody {
        tr {
            &:nth-child(3n + 1) {
                background: #f5f5f4;
            }
            &:hover {
                background: #fff4e3;
                cursor: pointer;
                transition: all .2s;
            }
        }
        td{
            border: 1px solid #ddd;
        }
    }
}
// 选项卡
.p-tab-card{
    position:relative;

    .tab-nav{
        float:left;

        &:first-child{
            margin-left:0 !important;
        }
        &.disable{
            cursor:not-allowed;
        }
    }
    .tab-con{
        display:none;

        &.active{
            display:block;
        }
    }
}

html .layui-layer-btn .layui-layer-btn0 {
    border-color: #2e7ae6;
    background-color: #2e7ae6;
}
@media screen and (max-width: 1400px) {
    .page-index {
        .task-item {
            .icon {
                font-size: 40px !important;
            }
            .task-title {
                font-size: 14px;
            }
        }
    }
}
.page-index {
    padding: 20px;
    min-width: 1500px;
    background: #ecf1fa;

    .main-content {
        @include clearFix;
        margin-top: 10px;

        &.right-empty-result {
            .left-content {
                width: 100%;
            }
        }
        &.left-empty-move {
            .left-content {
                height: 300px;
                background: #f4f6f6;
            }
        }
        &.right-empty-move {
            .left-content {
                margin-right: 15px;
                float: left;
                width: 55%;
            }
            .right-content {
                height: 300px;
                background: #f4f6f6;
            }
        }
    }
    .tools {
        @include clearFix;

        .weather-item {
            float: left;
        }
        select {
            float: right;
        }
    }
    .project-item {
        margin-top: 15px;
        padding: 15px;
        background: #fff;

        &:first-child {
            margin-top: 0;
        }
        &.task {
            display: flex;
            align-items: center;
            padding: 0;
            background: transparent;
        }
        .title-item {
            display: flex;
            align-items: center;

            .title-text {
                position: relative;
                padding-left: 10px;
                width: 0;
                flex-grow: 1;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0; top: 2px; bottom: 2px;
                    width: 3px;
                    background: #2e7ae6;
                }
            }
            .tool-wrap {
                position: relative;

                button {
                    @include iconfont;
                    padding: 0 5px;
                    border: none;
                    border-radius: 4px;
                    font-size: 18px;
                    font-weight: bold;
                    background: transparent;
                    transition: all .2s;
                    color: #999;

                    &:hover {
                        color: #fff;
                        background: #2e7ae6;
                    }
                }
            }
            .tool-menu {
                display: none;
                position: absolute;
                right: 0; top: 20px;
                border: 1px solid #eee;
                border-radius: 4px;
                font-size: 12px;
                box-shadow: 0 5px 5px 0 rgba(27, 27, 78, 0.1);
                user-select: none;
                background: #fff;

                li {
                    padding: 5px 15px;
                    white-space:nowrap;
                    cursor: pointer;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
    .task-item {
        display: flex;
        align-items: center;
        padding: 20px 25px;
        width: 0;
        flex-grow: 1;
        color: #fff;
        border-radius: 4px;

        & + .task-item {
            margin-left: 10px;
        }
        .icon {
            @include iconfont;
            margin-right: 15px;
            font-size: 60px;
        }
        .wrap {
            text-align: center;

            .task-title {
                white-space: nowrap;
                display: block;
                font-size: 18px;
            }
            .task-number {
                display: block;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .news {
        display: flex;
        margin-top: 10px;

        .image-wrap {
            margin-right: 20px;
            width: 55%;

            img {
                display: block;
                width: 100%; height: 200px;
                object-fit: cover;
            }
        }
        .news-list {
            width: 0;
            flex-grow: 1;

            .news-item {
                display: block;
                padding: 5px 15px;
                font-size: 12px;
                border-bottom: 1px dashed #eee;
                cursor: pointer;
                transition: all .2s;
                white-space: nowrap;

                &:hover {
                    background: #ecf1fa;
                }
                h3 {
                    color: #333;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p {
                    color: #999;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
    .punch-clock {
        display: flex;
        align-items: center;
        padding: 30px 40px;

        .btn-punch {
            padding: 10px 50px;
            border: none;
            border-radius: 4px;
            color: #fff;
            background: #2e7ae6;
            transition: all .2s;

            &:active {
                opacity: .7;
            }
        }
        .wrap {
            margin-left: 20px;

            time {
                display: block;
                padding: 2px 0;
            }
        }
    }
    .message-list {
        margin-top: 10px;

        .message-item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            border-bottom: 1px dashed #eee;
            cursor: pointer;

            &:hover {
                .item-title {
                    color: #2e7ae6;
                }
            }
            .item-title {
                margin-right: 10px;
                width: 0;
                flex-grow: 1;
                color: #555;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: all .2s;
            }
            time {
                color: #ccc;
            }
        }
    }
    .more-link {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0 0;

        a {
            font-size: 12px;
            color: #999;
            transition: all .2s;

            &:hover {
                color: #2e7ae6;
            }
        }
    }
    .left-content {
        float: left;
        width: 55%;
    }
    .right-content {
        padding-left: 15px;
        overflow: hidden;

        .task-item {
            padding: 20px 20px;

            .icon {
                margin-right: 10px;
                font-size: 40px;
            }
        }
    }
}
.add-module-dialog {
    padding: 20px 30px;

    .select-item {
        .attr {
            float: left;
            margin-right: 20px;
            line-height: 30px;
        }
        .content {
            overflow: hidden;

            select {
                display: block;
                width: 260px;
                height: 30px;
                border: 1px solid #ddd;
            }
        }
    }
}
.choice-form-dialog {
    .search-wrap {
        @include clearFix;
        padding: 5px 20px 5px;
        background: #f0f5fc;

        .attr {
            float: left;
            margin-right: 15px;

            .attr-text {
                min-width: 5em;
                line-height: 30px;
                text-align: right;
            }
        }
        .content {
            overflow: hidden;
        }
    }
    #formTree {
        min-height: 300px;
        max-height: 400px;
        padding: 20px;
        overflow-y: auto;
    }
}
.page-process-list {
    padding: 20px;
    user-select: none;

    .config-menu-layer {
        z-index: 10;
        position: absolute;
        left: -25px; top: 25px;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 12px;
        box-shadow: 0 5px 5px 0 rgba(27,27,78,0.1);
        background: #fff;

        .menu-list {
            li {
                padding: 5px 15px;
                white-space: nowrap;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    color: #2e7ae6;
                }
            }
        }
    }
    .tools {
        margin-bottom: 10px;

        .tool-item {
            padding: 2px 10px;
            border: none;
            border-radius: 4px;
            background: transparent;
            transition: all .2s;

            &:hover {
                color: #fff;
                background: #2e7ae6;

                .icon {
                    color: #fff;
                }
            }
            .icon {
                @include iconfont;
                color: #2e7ae6;
                transition: all .2s;
            }
        }
    }
    table {
        font-size: 12px;
        white-space: nowrap;

        .btn-config {
            padding: 4px 10px;
            color: #fff;
            border: none;
            border-radius: 4px;
            background: #2e7ae6;
            transition: all .2s;

            &:active {
                opacity: .7;
            }
        }
        .state-not {
            padding: 5px 10px;
            border-radius: 4px;
            background: #e8ebef;
        }
        .state-already {
            padding: 5px 10px;
            border-radius: 4px;
            background: #daf2dc;
        }
        .model-name {
            max-width: 10em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.page-create-process {
    .nav-wrap {
        @include clearFix;
        background: #f0f5fc;

        aside {
            padding: 10px 20px;
            float: right;
        }
    }
    .tab-nav {
        padding: 10px 20px;

        &.active {
            color: #2e7ae6;
            border-bottom: 2px solid #2e7ae6;
            font-weight: bold;
        }
    }
    .con-wrap {
        padding: 10px;

        .tab-con {
            @include clearFix;

            &.active {
                overflow: hidden;
            }
        }
    }
    .input-item {
        input {
            display: block;
            padding: 0 10px;
            width: 100%;
            height: 30px;
            border: 1px solid #eee;
            border-radius: 4px;
        }
    }
    .textarea-item {
        textarea {
            display: block;
            padding: 10px;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 40px;
            max-height: 300px;
            border: 1px solid #eee;
            border-radius: 4px;
        }
    }
    .select-item {
        select {
            display: block;
            width: 100%;
            height: 30px;
            border: 1px solid #eee;
        }
    }
    .btn-edit {
        padding: 8px 30px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background: #2e7ae6;
        transition: all .2s;

        & + .btn-edit {
            margin-left: 20px;
        }
        &:active {
            opacity: .7;
        }
    }
    .btn-choice {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        padding: 4px 10px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background: #2e7ae6;
        transition: all .2s;

        &:active {
            opacity: .7;
        }
        i {
            @include iconfont;
        }
    }
    .form-list {
        width: 80%;

        .form-item {
            @include clearFix;
            padding: 8px 0;

            .attr {
                float: left;
                margin-right: 15px;

                .attr-text {
                    min-width: 5em;
                    line-height: 30px;
                    text-align: right;
                }
            }
            .content {
                overflow: hidden;
            }
        }
    }
    .form-model {
        table {
            font-size: 12px;
            white-space: nowrap;

            input[type="text"] {
                display: block;
                padding: 0 10px;
                width: 100%;
                height: 30px;
                border: 1px solid #eee;
                border-radius: 4px;
            }
            label {
                cursor: pointer;

                * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            button {
                padding: 3px 10px;
                border: none;
                border-radius: 4px;
                color: #fff;
                background: #f00;
                transition: all .2s;

                &:active {
                    opacity: .7;
                }
                i {
                    @include iconfont;
                }
            }
        }
        .wrap {
            @include clearFix;
        }
        .main-content {
            float: left;
            margin-right: 15px;
            width: 80%;
        }
        .aside-content {
            padding: 0 15px;
            overflow: hidden;

            dt {
                margin-bottom: 10px;
                padding-bottom: 5px;
                font-weight: bold;
                border-bottom: 1px solid #eee;
            }
            dd {
                position: relative;
                display: flex;
                align-items: center;
                padding: 5px 0;
                padding-left: 10px;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0; top: 11px; bottom: 11px;
                    width: 2px;
                    background: #2e7ae6;
                }
                p {
                    width: 0;
                    flex-grow: 1;
                }
                button {
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 3px 10px;
                    border: none;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 12px;
                    background: #2e7ae6;
                    transition: all .2s;

                    &:active {
                        opacity: .7;
                    }
                }
            }
            .btn-add {
                margin: auto;
                display: block;
                margin-top: 20px;
                border: none;
                background: transparent;

                .icon {
                    @include iconfont;
                    width: 40px; height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: #999;
                    background: #ebf1fa;
                }
                p {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
        .form-list {
            margin-bottom: 10px;

            .select-item {
                min-width: 160px;
            }
            .form-item {
                display: inline-block;
                vertical-align: middle;
            }
            .btn-add-row {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                padding: 3px 10px;
                border: none;
                border-radius: 4px;
                color: #fff;
                background: #2e7ae6;
                transition: all .2s;

                & + button {
                    margin-left: 20px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
        .tools {
            margin-top: 20px;
            text-align: center;

            button {
                padding: 8px 30px;
                border: none;
                border-radius: 4px;
                color: #fff;
                background: #2e7ae6;
                transition: all .2s;

                & + button {
                    margin-left: 20px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
    }
}
.page-xxxq {
    padding: 15px;
    height: 100%;
    background: #f4f4f4;
    overflow-x: auto;

    .p-btn-theme-1 {
        @include iconfont;
        position: relative;
        opacity: 1;
        padding: 11.5px 10px;
        border: none;
        font-size: 12px;
        border-radius: 4px;
        background: none;
        transition: all .2s;
        background: #2e7ae6;
        color: #fff;
    }
    .title-wrap {
        @include clearFix;
        margin-bottom: 20px;
        padding: 10px 20px;
        background: #fff;

        .title-text {
            position: relative;
            float: left;

            &:before {
                position: absolute;
                content: "";
                left: -10px; top: 5px; bottom: 5px;
                width: 2px;
                background: #2e7ae6;
            }
            & > * {
                display: inline-block;
                vertical-align: middle;
            }
            p {
                font-size: 18px;
            }
            small {
                font-size: 12px;
                color: #666;
            }
            b {
                margin: 0 5px;
                font-weight: bold;
                color: #2e7ae6;
                text-decoration: underline;
            }
        }
        .search-wrap {
            @include clearFix;
            float: right;

            & > * {
                float: left;
            }
            input {
                width: 200px;
                padding: 0 10px;
                height: 35px;
                border: 1px solid #eee;
                border-radius: 4px;
                transition: all .2s;

                &:focus {
                    width: 360px;
                    border-color: #2e7ae6;
                }
            }
            button {
                height: 35px;
            }
        }
    }
    .article-info {
        padding: 20px;
        min-height: 500px;
        border-radius: 4px;
        background: #fff;

        a {
            color: #4DB2EE;
            text-decoration: underline;
        }
        dt {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .sub-title {
            margin-top: 10px;
            text-align: center;
            color: #999;

            time {
                margin-left: 5px;
            }
        }
        .article-content {
            margin-top: 20px;
        }
        article {
            line-height: 1.8;
        }
    }
}
.page-process-query {
    padding: 15px;
    height: 100%;
    background: #f0f5fc;
    overflow-x: auto;

    .title-wrap {
        @include clearFix;
        padding: 5px 0;
        margin-bottom: 10px;

        .title {
            float: left;
            line-height: 29px;
        }
        .tool-wrap {
            float: right;

            button {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .2s;

                & + button {
                    margin-left: 10px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
    }
    .project-wrap {
        padding: 0 20px 15px 20px;
        background: #fff;

        .title-item {
            position: relative;
            padding: 15px 0;

            &:before {
                content: "";
                position: absolute;
                left: 0; right: 0;
                bottom: 0;
                height: 1px;
                background: #dce8fa;
            }
            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 18px;
                bottom: 18px;
                width: 3px;
                background: #2e7ae6;
            }
            .title-text {
                padding-left: 10px;
                font-weight: bold;
            }
        }
        .input-item {
            select,
            textarea,
            input[type="text"] {
                display: inline-block;
                padding: 0 10px;
                width: 100%;
                height: 30px;
                border: none;
                background: transparent;

                &::-webkit-input-placeholder {
                    color: #c6d0db;
                }
            }
            input[type="text"] {
                padding-right: 35px;
            }
        }
        .form-list {
            width: 500px;
        }
        .form-item {
            @include clearFix;
            padding: 10px 0;

            &.searchableSelect {
                @include clearFix;

                .content {
                    border: none;
                    overflow: visible;
                }
                .searchable-select {
                    z-index: 10;
                    width: 412px;
                    background: #fff;

                    .searchable-select-holder {
                        border: 1px solid #eee;
                        box-shadow: none;
                    }
                }
                .searchable-select-input {
                    border: 1px solid #eee;
                    box-shadow: none;
                }
                .searchable-select-dropdown {
                    padding: 0;
                    border: 1px solid #eee;
                    box-shadow: none;
                }
                .searchable-select-item.hover {
                    background: #ddd;
                    color: #555;
                }
                .searchable-select-item.selected {
                    background: #2e7ae6;
                    color: #fff;
                }
            }
            .attr {
                float: left;
                margin-right: 15px;

                .attr-text {
                    min-width: 6em;
                    line-height: 30px;
                    text-align: left;
                }
            }
            .content {
                position: relative;
                overflow: hidden;
                border: 1px solid #eee;
                border-radius: 4px;

                i {
                    @include iconfont;
                    position: absolute;
                    top: 50%; right: 5px;
                    font-size: 18px;
                    transform: translate(0,-50%);
                }
            }
        }
    }
    .search-result {
        table {
            font-size: 12px;
            white-space: nowrap;

            .btn-look {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .2s;

                &:active {
                    opacity: .7;
                }
            }
            .state-end {
                padding: 5px 10px;
                border-radius: 4px;
                background: #e8ebef;
            }
            .state-ing {
                padding: 5px 10px;
                border-radius: 4px;
                background: #f90;
                color: #fff;
            }
            .state-finish {
                padding: 5px 10px;
                border-radius: 4px;
                background: #19be6b;
                color: #fff;
            }
            .liucheng-name {
                max-width: 20em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #2e7ae6;
            }
        }
    }
}
.page-quanbuliucheng {
    @include clearFix;
    padding: 15px;
    height: 100%;
    background: #f0f5fc;
    user-select: none;

    .aside-content {
        height: 100%;
        width: 180px;
        float: left;
        background: #fff;

        dt,
        dd {
            padding: 10px 15px;
        }
        dt {
            font-weight: bold;
            background: #e4eaf2;
        }
        dd {
            position: relative;
            transition: all .3s;

            &::after {
                content: "";
                height: 1px;
                position: absolute;
                left: 10px; right: 0;
                bottom: 0;
                background:#eee;
            }
            &:hover {
                color: #fff;
                background: #5c9cec;

                &:after {
                    background: #5c9cec;
                }
            }
        }
    }
    .main-content {
        height: 100%;
        padding: 0 10px;
        overflow: hidden;

        .title-wrap {
            @include clearFix;
            padding: 5px 0;
            margin-bottom: 10px;

            .title {
                float: left;
                line-height: 29px;
            }
            .search-wrap {
                float: right;

                .input-item {
                    position: relative;
                    border: 1px solid #c6d0db;
                    border-radius: 4px;

                    input {
                        display: block;
                        padding: 0 10px;
                        width: 200px;
                        height: 30px;
                        border: none;
                        background: transparent;
                        transition: all .3s;

                        &::-webkit-input-placeholder {
                            color: #c6d0db;
                        }
                        &:focus {
                            width: 280px;
                        }
                    }
                }
                i {
                    @include iconfont;
                    color: #2e7ae6;
                    position: absolute;
                    top: 50%; right: 5px;
                    font-size: 18px;
                    transform: translate(0,-50%);
                }
            }
        }
        .content-item {
            height: calc(100% - 42px);
            overflow-y:scroll;
        }
        .project-item {
            margin-top: 10px;
            background: #fff;

            &:first-child {
                margin-top: 0;
            }
            .title-item {
                position: relative;
                padding: 15px 30px;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    bottom: 0;
                    height: 1px;
                    background: #dce8fa;
                }
                &:after {
                    position: absolute;
                    content: "";
                    left: 30px;
                    top: 18px;
                    bottom: 18px;
                    width: 3px;
                    background: #2e7ae6;
                }
                .title-text {
                    padding-left: 10px;
                    font-weight: bold;
                }
            }
            .type-wrap {
                @include clearFix;
                padding: 15px;
                color: #2e7ae6;

                .type-item {
                    position: relative;
                    float: left;
                    padding: 8px 30px;
                    width: 25%;
                    border: 1px solid transparent;
                    transition: all .2s;

                    .type-text {
                        padding-left: 20px;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;

                        &::before, &::after {
                            @include iconfont;
                            position: absolute;
                            top: 50%;
                            font-size: 12px;
                            transform: translate(0,-50%);
                        }
                        &::before {
                            content: "\e623";
                            left: 30px;
                            color: #a9b0b7;
                        }
                    }
                    &.active,
                    &:hover {
                        color: #f6ab00;
                        right: 0;
                        border: 1px solid #f6ab00;

                        .type-text {
                            &::after {
                                margin-left: 5px;
                                content: "\e642";
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-zhidan {
    padding: 10px;

    .nav-wrap {
        @include clearFix;
        background: #f0f5fc;

        aside {
            padding: 10px 20px;
            float: right;
        }
    }
    .tab-nav {
        padding: 10px 20px;

        &.active {
            color: #2e7ae6;
            border-bottom: 2px solid #2e7ae6;
            font-weight: bold;
        }
    }
    .con-wrap {
        .tab-con {
            @include clearFix;

            //tab显示
            &.active {
                overflow: hidden;
            }
        }
    }
    .tab-con-wrap {
        padding: 40px 0 10px 0;
         //success代表通过后的样式
         &.success {
            transition: all .5s;
            .form {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 98px; height: 96px;
                    background: url("../images/base/success.png") no-repeat;
                    object-fit: 100%;
                }
            }
            .input-item {
                input {
                    border: 1px solid transparent;
                }
            }
            .textarea-item {
                textarea {
                    resize:none;
                    border: 1px solid transparent;
                }
            }
            .checkbox-item {
                input[type="checkbox"] {
                    border: 1px solid transparent;
                }
            }
            .select-item {
                select {
                    border: 1px solid transparent;
                    appearance: none;
                    background: transparent;
                }
            }
            .list-item.full.progress {
                .input-item {
                    input::-webkit-input-placeholder{
                        text-align: right;
                    }
                }
            }
            .btn-wrap {
                .btn-edit {
                    &.none {
                        display: none;
                    }
                }
            }
        }
    }
    .form {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 10px;
        border-radius: 4px;
        background: #ebf1fa;

        .form-tit {
            @include clearFix;
            position: relative;
            padding: 10px 0;
            text-align: center;

            .tit-text {
                font-size: 24px;
            }
            span {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .form-list {
            @include clearFix;
            border-radius: 4px;

            & + .form-list {
                margin-top: 10px;
            }
            .list-tit {
                padding: 8px 0;
                color: #999;
                text-align: center;
                background: #f0f2f5;
            }
            .list-con {
                @include clearFix;
                padding: 5px 10px;
                background: #fff;
            }
            .list-item {
                padding: 5px;
                float: left;
                width: 33.33%;

                &.full {
                    width: 100%;

                    &.progress {
                        line-height: 40px;
                        .attr {
                            .attr-text {
                                line-height: 40px;
                            }
                        }
                        .textarea-item {
                            float: left;
                            width: 30%;

                            textarea{
                                min-height: 40px;
                                line-height: 40px;
                            }
                        }
                        .input-item {
                            float: left;
                            margin-left: 5px;
                            width: 19%;
                            min-height: 40px;
                            line-height: 40px;
                        }
                    }
                }
                .attr {
                    float: left;
                    margin-right: 10px;

                    .attr-text {
                        color: #666;
                        min-width: 7em;
                        line-height: 30px;
                        text-align: right;
                    }
                }
                .content {
                    overflow: hidden;
                }
            }
        }
        .input-item {
            input {
                display: block;
                padding: 0 10px;
                width: 100%;
                min-height: 30px;
                border: 1px solid #eee;
                border-radius: 4px;

                &:disabled {
                    background: transparent;
                }
            }
        }
        .textarea-item {
            textarea {
                display: block;
                padding: 0 10px;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                min-height: 30px;
                max-height: 100px;
                line-height: 30px;
                border: 1px solid #eee;
                border-radius: 4px;
                resize: vertical;

                &:disabled {
                    background: transparent;
                }
            }
        }
        .checkbox-item {
            width: 100%;
            padding: 0 10px;

            &.change {
                text-align: center;
            }
            label {
                line-height: 30px;
                cursor: pointer;

                & > * {
                    vertical-align: middle;
                }
                & + label {
                    margin-left: 15px;
                }
            }
            input[type="checkbox"] {
                border: 1px solid #eee;

                &:disabled {
                    background: transparent;
                }
            }
        }
        .select-item {
            select {
                padding: 0 10px;
                display: block;
                width: 100%;
                height: 30px;
                border: 1px solid #eee;

                &:disabled {
                    background: transparent;
                }
            }
        }
        .file-item {
            position: relative;
            padding: 5px 10px;

            input[type="file"] {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                user-select: none;

                &:disabled {
                    background: transparent;
                }
            }
            label {
                line-height: 30px;

                & + label {
                    margin-left: 15px;
                }
            }
            i {
                @include iconfont;
            }
            span {
                color: #2e7ae6;
            }
        }
    }
    .btn-wrap {
        padding: 15px 0;
        text-align: center;
        .btn-edit {
            padding: 8px 40px;
            border: none;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            background: #2e7ae6;
            transition: all .2s;

            & + .btn-edit {
                margin-left: 20px;
            }
            &:active {
                opacity: .7;
            }
        }
    }
}
.page-daibanshiyi {
    @include clearFix;
    padding: 20px;
    height: 100%;
    user-select: none;
    background: #fff;

    .aside {
        float: left;
        width: 300px;
        height: 100%;
        background: #fff;
        border: 1px solid #e3e3e3;

        i {
            @include iconfont;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: #2e7ae6;
        }
        .search-wrap {
            padding: 5px;
            width: 100%;
            background: #e4eaf2;

            .search-item {
                position: relative;
                padding:5px 10px;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                background: #fff;
            }
            input[type="text"] {
                border: none;
                width: 100%;
                background: transparent;
            }
        }
        .task-wrap {
            height: calc(100% - 45px);
            overflow-y:scroll;
        }
        .task-item {
            padding: 5px 0;
            position: relative;
            transition: all 1s;

            & + .task-item {
                margin-top: 5px;
            }
            &.fold {
                dt {
                    .task-title {
                        font-weight: bold;

                        &::after {
                            content: "\e620";
                        }
                    }
                }
                dd {
                    padding: 0;
                    height: 0;
                    overflow: hidden;
                }
            }
            dt {
                position: relative;
                margin-bottom: 10px;
                padding: 10px 10px;
                cursor: pointer;

                &:after {
                    position: absolute;
                    bottom: 0; left: 10px; right: 10px;
                    content: "";
                    height: 1px;
                    background: #eee;
                }
                .task-title {
                    position: relative;
                    padding-left: 10px;
                    font-weight: bold;

                    &:before {
                        position: absolute;
                        left: 0; top: 3px; bottom: 3px;
                        content: "";
                        width: 2px;
                        background: #2e7ae6;
                    }
                    &:after {
                        @include iconfont;
                        content: "\e621";
                        position: absolute;
                        right: 10px; top: 50%;
                        color: #eee;
                        transform: translateY(-50%);
                    }
                }
            }
            dd {
                @include clearFix;
                padding: 8px 10px;
                cursor: pointer;

                &:hover,
                &.active {
                    .task-name,
                    .count {
                        color: #2e7ae6;
                     }

                     .task-name {
                        &:before {
                            opacity: .7;
                            background: #2e7ae6;
                        }
                     }
                }
                .task-name {
                    @include textEllipsis($type: 'singleRow', $maxLength: 100%);
                    position: relative;
                    display: block;
                    overflow: hidden;
                    padding-left: 10px;
                    transition: all .3s;

                    &:before {
                        content: "";
                        display:block;
                        height: 5px; width: 5px;
                        position: absolute;
                        left: 0; top: 50%;
                        transform: scaleY(-50%);
                        border-radius: 50%;
                        background: #e3e3e3;
                        transition: all .3s;
                    }
                }
                .count {
                    float: right;

                    .num1 {
                        color: #ff8042;
                    }
                }
            }
        }
    }
    .main-content {
        overflow: hidden;

        table {
            font-size: 12px;
            white-space: nowrap;

            button {
                padding: 3px 6px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .3s;

                &:hover,
                &:active {
                    opacity: .7;
                }
                & + button {
                    margin-left: 10px;
                }
            }
        }
        .nav-wrap {
            @include clearFix;
            box-shadow: 0 5px 5px 0 rgba(27, 27, 78, 0.1);

            .tab-nav {
                position: relative;
                padding: 10px 20px;

                &.active {
                    color: #2e7ae6;
                    border-bottom: 2px solid #2e7ae6;
                    font-weight: bold;
                }
                em {
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    right: 0; top: 0;
                    background: #ff8042;
                    border-radius: 50%;
                    font-size: 12px;
                    color: #fff;
                    transform: scale(.8);
                    text-align: center;
                    line-height: 20px;
                }
            }
        }
        .con-wrap {
            padding: 10px;
        }
        .chaxun-wrap {
            margin-bottom: 20px;
            transition: all 3s;

            &.fold {
                .lists-wrap {
                    height: 52px;
                    overflow: hidden;
                }
            }
            .lists-wrap {
                @include clearFix;
                padding: 10px 0;

                i {
                    @include iconfont;
                    position: absolute;
                    top: 50%; right: 5px;
                    font-size: 18px;
                    transform: translateY(-50%);
                }
            }
            .list-item {
                float: left;
                width: 25%;

                .item-main {
                    @include clearFix;
                    padding: 10px;

                    .attr {
                        float: left;
                        margin-right: 15px;

                        .attr-text {
                            min-width: 6em;
                            line-height: 30px;
                            text-align: right;
                        }
                    }
                    .content {
                        position: relative;
                        overflow: hidden;
                    }
                }
            }
            .input-item {
                input, select {
                    display: block;
                    padding: 0 10px;
                    width: 100%;
                    height: 30px;
                    border-radius: 4px;
                    border: 1px solid #eee;
                }
            }
            .tool-wrap {
                text-align: center;
                position: relative;

                button {
                    overflow: hidden;
                    padding: 5px 20px;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
        .tool-wrap {
            text-align: left;
            padding: 10px 0;
            transition: all .3s;

            button {
                padding: 5px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .3s;

                & + button {
                    margin-left: 10px;
                }
                &:hover {
                    opacity: .7;
                }
            }
            i {
                @include iconfont;
            }
        }
        .table-wrap {
            overflow-x: auto;
        }
        table {
            width: 100% !important;

            i {
                @include iconfont;

            }
            .icon {
                &.active {
                    color: #ff8042;
                }
            }
            .tips {
                i {
                    color: #ff8042;
                }
            }
        }
    }
}
.page-calendar {
    @include clearFix;
    padding: 20px;
    height: 100%;
    background: #f4f4f4;
    user-select: none;
    overflow-x: hidden;

    .search-wrap {
        padding: 10px;
        background: #f0f5fc;

        .search-item {
            display: flex;
            align-items: center;
            padding-right: 10px;
            border-radius: 4px;
            border: 1px solid #eee;
            background: #fff;

            input {
                display: block;
                padding: 0 10px;
                width: 100%; height: 30px;
                border: none;
                background: transparent;
            }
            .icon {
                @include iconfont;
                color: #2e7ae6;
            }
        }
    }
    .scroll-wrap {
        height: calc(100% - 60px);
        overflow-y: auto;
    }
    .room-list {
        padding: 10px 0;

        li {
            padding: 5px 15px;
            font-size: 14px;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                color: #2e7ae6;
            }
            &.active {
                font-weight: bold;
                color: #2e7ae6;
            }
        }
    }
    .left-side {
        float: left;
        margin-right: 15px;
        width: 220px; height: 100%;
        border: 1px solid #eee;
        background: #fff;
    }
    .fc-time-grid-container {
        overflow: visible !important;
        height: auto !important;
    }
    .main-content {
        height: 100%;
        overflow-y: scroll;
    }
    .calendar-events-theme1 {
        .fc-content {
            .fc-time {
                font-size: 15px;
                font-weight: bold;
                color: #2e7ae6;
            }
            .fc-title {
                margin-top: 10px;
                line-height: 1.7;
                font-size: 14px;
            }
        }
    }
}
.page-my-calendar {
    @include clearFix;
    padding: 20px;
    height: 100%;
    background: #fff;
    user-select: none;
    overflow-x: hidden;

    .p-tab-card {
        height: 100%;

        .con-wrap {
            height: calc(100% - 50px);

            .tab-con {
                @include clearFix;
                height: 100%;

                &.active {
                    overflow: hidden;
                }
            }
        }
    }
    .nav-wrap {
        @include clearFix;

        aside {
            float: right;

            button {
                padding: 5px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .3s;

                &:active {
                    opacity: .7;
                }
            }
        }
    }
    .tab-nav {
        padding: 10px 20px;

        &.active {
            color: #2e7ae6;
            border-bottom: 2px solid #2e7ae6;
            font-weight: bold;
        }
    }
    .fc-time-grid-container {
        overflow: visible !important;
        height: auto !important;
    }
    .main-content {
        height: 100%;
        overflow-y: scroll;
    }
    .calendar-events-theme1 {
        .fc-content {
            .fc-time {
                font-size: 15px;
                font-weight: bold;
                color: #2e7ae6;
            }
            .fc-title {
                margin-top: 10px;
                line-height: 1.7;
                font-size: 14px;
            }
        }
    }
}
.page-check-work-info {
    padding: 15px;
    height: 100%;
    background: #f0f5fc;
    overflow-x: auto;

    .project-wrap {
        padding: 0 20px 15px 20px;
        background: #fff;

        .tool-wrap {
            float: right;

            button {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .2s;

                & + button {
                    margin-left: 10px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
        .title-item {
            position: relative;
            padding: 15px 0;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                left: 0; right: 0;
                bottom: 0;
                height: 1px;
                background: #dce8fa;
            }
            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 22px;
                bottom: 22px;
                width: 3px;
                background: #2e7ae6;
            }
            .title-text {
                float: left;
                margin-top: 4px;
                padding-left: 10px;
                font-weight: bold;
            }
        }
        .input-item {
            select,
            textarea,
            input[type="text"] {
                display: inline-block;
                padding: 0 10px;
                width: 100%;
                height: 30px;
                border: none;
                background: transparent;

                &::-webkit-input-placeholder {
                    color: #c6d0db;
                }
            }
            input[type="text"] {
                padding-right: 35px;
            }
        }
        .form-list {
            width: 500px;

            &.horizontal {
                @include clearFix;
                width: 100%;

                .form-item {
                    float: left;
                    margin-right: 30px;
                }
            }
            .tool-wrap {
                float: left;
                padding: 10px 0;
            }
        }
        .form-item {
            @include clearFix;
            padding: 10px 0;

            .attr {
                float: left;
                margin-right: 10px;

                .attr-text {
                    line-height: 30px;
                    text-align: left;
                }
            }
            .content {
                position: relative;
                overflow: hidden;
                border: 1px solid #eee;
                border-radius: 4px;

                i {
                    @include iconfont;
                    position: absolute;
                    top: 50%; right: 5px;
                    font-size: 18px;
                    transform: translate(0,-50%);
                }
            }
            select {
                width: 200px;
            }
        }
    }
    .search-result {
        margin-top: 20px;

        table {
            font-size: 12px;
            white-space: nowrap;

            .btn-look {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .2s;

                &:active {
                    opacity: .7;
                }
            }
            .state-end {
                padding: 5px 10px;
                border-radius: 4px;
                background: #e8ebef;
            }
            .state-ing {
                padding: 5px 10px;
                border-radius: 4px;
                background: #f90;
                color: #fff;
            }
            .state-finish {
                padding: 5px 10px;
                border-radius: 4px;
                background: #19be6b;
                color: #fff;
            }
            .liucheng-name {
                max-width: 20em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #2e7ae6;
            }
        }
    }
    .echart-wrap {
        margin-top: 30px;
        height: 500px;
    }
}
