@import './resetMobile';

// 超出省略号
@mixin textEllipsis($maxLength: 100%) {
  max-width:$maxLength;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

// 三角
@mixin arrow ($borderWidth: 5px, $left: 0, $top: 0){
  content: '';
  position: absolute;
  left: $left; top: $top;
  width: 0;
  height: 0;
  font-size: 0;
  border: $borderWidth dashed transparent;
}
// 上三角
@mixin arrow-t($borderBottomWidth: 5px, $borderBottomColor: red) {
  border-bottom: $borderBottomWidth solid $borderBottomColor;
}
// 下三角
@mixin arrow-b($borderTopWidth: 5px, $borderTopColor: red) {
  border-top: $borderTopWidth solid $borderTopColor;
}
// 左三角
@mixin arrow-l($borderRightWidth: 5px, $borderRighColor: red) {
  border-right: $borderRightWidth solid $borderRighColor;
}
// 右三角
@mixin arrow-r($borderLeftWidth: 5px, $borderLeftColor: red) {
  border-left: $borderLeftWidth solid $borderLeftColor;
}
// 使用示例
// .k-2{
//   &:after{
//     @include arrow(5px, 5px, 5px);
//     @include arrow-b();
//   }
// }

.switch-item {
  $height: 22px; // 小圆圈 的高度
  $margin: 2px; // 小圆圈距离周边的距离
  position: relative;

  input[type="checkbox"] {
    z-index: 10;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0;

    &:checked {
      & ~ .inner-text {
        padding-left: 8px;
        padding-right: $height - $margin * 2 + 5px; // 一个小圆球的大小 再增加5px的距离
        text-align: left;
        background: #409eff;
        // css 过渡的前提是 过渡前后属性必须是一致的 因此这边不能再用right
        &:after {
          left: calc(100% - 2px);
          transform: translate(-100%, 0);
        }
      }
    }
    &:disabled {
      & ~ .inner-text {
        opacity: .5;
      }
    }
  }
  .inner-text {
    position: relative;
    padding-left: $height - $margin * 2 + 5px;
    padding-right: 8px;
    min-width: 45px; height: $height;
    line-height: $height;
    color: #fff;
    text-align: right;
    font-size: 12px;
    border-radius: $height;
    background: #c0c4cc;
    transition: all .2s;

    &:after {
      position: absolute; content: "";
      left: $margin; top: $margin; bottom: $margin;
      width: $height - $margin * 2; // 保证 宽度 和 高度 的值是一致的
      border-radius: 50%;
      background: #fff;
      transition: all .2s;
    }
  }
}

html {
  height: 100%;

  .iconfont {
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-family:"iconfont" !important;
    font-size:inherit;
    font-style:normal;
    color:inherit;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:0.2px;
    -moz-osx-font-smoothing:grayscale;
  }
}

// 采集器
.page-collector {
  position: relative;

  .main-map-wrap {
    height: 100vh;
  }

  .tool-wrap {
    z-index: 20;
    position: absolute;

    &.view {
      left: .15rem; bottom: .5rem;
    }
    &.edit {
      left: .15rem; top: .5rem;
    }

    .item {
      display: block;
      margin-top: .1rem;
      width: .5rem; height: .5rem;
      text-align: center;
      border-radius: 4px;
      background: #fff;
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
      transition: all .2s;

      &:active {
        i {
          opacity: .5;
        }
      }
      &:first-child {
        margin-top: 0;
      }
      i {
        color: #1983d1;
      }
    }
  }
}

// 浮层样式
.layer-confirm-item {
  z-index: 10;
  position: relative;
  padding: 0.1rem .13rem;
  font-size: .2rem;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);

  &:after {
    @include arrow(10px, 50%, 100%);
    @include arrow-b(10px, #fff);
  }
  .text,
  .btn-sure {
    vertical-align: middle;
  }
  .btn-sure {
    color: #009bdb;
    transition: all .2s;

    &:active {
      opacity: .5;
    }
    & > * {
      vertical-align: middle;
    }
  }
}

.side-bar-wrap {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  z-index: 10;
  width: 3rem;
  padding: .1rem;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.22);
}











//
