@import './_mixin.scss';
@import './resetPc';

// 浮动、清除浮动
.clearfix {
    @include clearFix;
    zoom: 1;

    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
}
.disabled {
    cursor:not-allowed !important;
}
.iconfont {
    @include iconfont;
}
.hidden {
    display: none !important;
}
// 公共组件样式
.p-input-item {
    @include clearFix;
    display: inline-block;
    vertical-align: middle;

    &.fixbug {
        .attr,
        .content {
            padding-top: 20px;
        }
    }
    .attr {
        margin-right: 10px;
        padding: 8.5px 0;
        float: left;
        font-size: 13px;
        color: #333;
    }
    .division {
        margin: 0 5px;
        color: #999;
        font-size: 12px;
        vertical-align: middle;
    }
    .content {
        overflow: hidden;
    }
    input[type="text"] {
        padding: 0 10px;
        width: 120px; height: 35px;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 12px;
        vertical-align: middle;
        transition: all .2s;

        &:disabled {
            background: #f4f4f4;
            cursor: not-allowed;
        }
        &:focus {
            border-color: #2e7ae6;
        }
    }
    select {
        width: 120px;
        height: 35px;
        border: 1px solid #eee;
    }
    textarea {
        display: block;
        padding: 10px;
        width: 100%;
        border: 1px solid #eee;
        resize: none;
        transition: all .2s;

        &:focus {
            border-color: #2e7ae6;
        }
    }
}
// 按钮
.p-btn-theme-1,
.p-btn-theme-2 {
    @include iconfont;
    position: relative;
    opacity: 1;
    padding: 11.5px 10px;
    border: none;
    font-size: 12px;
    color: #333;
    border-radius: 4px;
    background: none;
    transition: all .2s;

    &:hover,
    &:active {
        opacity: .8;
    }
    &:disabled {
        background: #ddd;
    }
    input[type="file"] {
        z-index: 5;
        opacity: 0;
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: transparent;
    }
}
.p-btn-theme-1 {
    background: #2e7ae6;
    color: #fff;
}
.p-btn-theme-2 {
    &:hover {
        background: #ddd;
    }
    i {
        color: #2e7ae6;
    }
}
// 表格
.p-tab-theme-1 {
    width: 100%;
    font-size: 14px;
    color: #4c4c4c;
    text-align: left;
    border: 1px solid #e6e6e6;

    th,
    td {
        position: relative;
        padding: 5px 20px;
    }
    th{
        color: #fff;
        border: 1px solid #ebebeb;
        background: #2e7ae6;
    }
    tbody {
        tr {
            &:nth-child(3n + 1) {
                background: #f5f5f4;
            }
            &:hover {
                background: #fff4e3;
                cursor: pointer;
                transition: all .2s;
            }
        }
        td{
            border: 1px solid #ddd;
        }
    }
    input[type="text"] {
        padding: 0 6px;
        width: 100%;
        height: 26px;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 12px;
        vertical-align: middle;
        transition: all .2s;

        &:disabled {
            background: #f4f4f4;
            cursor: not-allowed;
        }
        &:focus {
            border-color: #2e7ae6;
        }
    }
}

html {
    height: 100%;
}
body {
    margin:0 auto;
    overflow-x:auto;
    color: #333;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999;
}

html .layui-layer-btn .layui-layer-btn0 {
    border-color: #2e7ae6;
    background-color: #2e7ae6;
}

.page-index {
    padding: 20px;
    background: #ecf1fa;

    .main-content {
        @include clearFix;
        margin-top: 10px;

        &.right-empty-result {
            .left-content {
                width: 100%;
            }
        }
        &.left-empty-move {
            .left-content {
                height: 300px;
                background: #f4f6f6;
            }
        }
        &.right-empty-move {
            .left-content {
                margin-right: 15px;
                float: left;
                width: 55%;
            }
            .right-content {
                height: 300px;
                background: #f4f6f6;
            }
        }
    }
    .tools {
        @include clearFix;

        .weather-item {
            float: left;
        }
        select {
            float: right;
        }
    }
    .project-item {
        margin-top: 15px;
        padding: 15px;
        background: #fff;

        &:first-child {
            margin-top: 0;
        }
        &.task {
            display: flex;
            align-items: center;
            padding: 0;
            background: transparent;
        }
        .title-item {
            display: flex;
            align-items: center;

            .title-text {
                position: relative;
                padding-left: 10px;
                width: 0;
                flex-grow: 1;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0; top: 2px; bottom: 2px;
                    width: 3px;
                    background: #2e7ae6;
                }
            }
            .tool-wrap {
                position: relative;

                button {
                    @include iconfont;
                    padding: 0 5px;
                    border: none;
                    border-radius: 4px;
                    font-size: 18px;
                    font-weight: bold;
                    background: transparent;
                    transition: all .2s;
                    color: #999;

                    &:hover {
                        color: #fff;
                        background: #2e7ae6;
                    }
                }
            }
            .tool-menu {
                display: none;
                position: absolute;
                right: 0; top: 20px;
                border: 1px solid #eee;
                border-radius: 4px;
                font-size: 12px;
                box-shadow: 0 5px 5px 0 rgba(27, 27, 78, 0.1);
                user-select: none;
                background: #fff;

                li {
                    padding: 5px 15px;
                    white-space:nowrap;
                    cursor: pointer;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
    .task-item {
        display: flex;
        align-items: center;
        padding: 20px 25px;
        width: 0;
        flex-grow: 1;
        color: #fff;
        border-radius: 4px;

        & + .task-item {
            margin-left: 10px;
        }
        .icon {
            @include iconfont;
            margin-right: 15px;
            font-size: 60px;
        }
        .wrap {
            text-align: center;

            .task-title {
                white-space: nowrap;
                display: block;
                font-size: 18px;
            }
            .task-number {
                display: block;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .news {
        display: flex;
        margin-top: 10px;

        .image-wrap {
            margin-right: 20px;
            width: 55%;

            img {
                display: block;
                width: 100%; height: 200px;
                object-fit: cover;
            }
        }
        .news-list {
            width: 0;
            flex-grow: 1;

            .news-item {
                display: block;
                padding: 5px 15px;
                font-size: 12px;
                border-bottom: 1px dashed #eee;
                cursor: pointer;
                transition: all .2s;
                white-space: nowrap;

                &:hover {
                    background: #ecf1fa;
                }
                h3 {
                    color: #333;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p {
                    color: #999;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
    .punch-clock {
        display: flex;
        align-items: center;
        padding: 30px 40px;

        .btn-punch {
            padding: 10px 50px;
            border: none;
            border-radius: 4px;
            color: #fff;
            background: #2e7ae6;
            transition: all .2s;

            &:active {
                opacity: .7;
            }
        }
        .wrap {
            margin-left: 20px;

            time {
                display: block;
                padding: 2px 0;
            }
        }
    }
    .message-list {
        margin-top: 10px;

        .message-item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            border-bottom: 1px dashed #eee;
            cursor: pointer;

            &:hover {
                .item-title {
                    color: #2e7ae6;
                }
            }
            .item-title {
                margin-right: 10px;
                width: 0;
                flex-grow: 1;
                color: #555;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: all .2s;
            }
            time {
                color: #ccc;
            }
        }
    }
    .more-link {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0 0;

        a {
            font-size: 12px;
            color: #999;
            transition: all .2s;

            &:hover {
                color: #2e7ae6;
            }
        }
    }
    .left-content {
        float: left;
        width: 55%;
    }
    .right-content {
        padding-left: 15px;
        overflow: hidden;

        .task-item {
            padding: 20px 20px;

            .icon {
                margin-right: 10px;
                font-size: 40px;
            }
        }
    }
}
.page-1 {
    padding: 20px;
    min-height: 800px;
    height: 100%;
    background: #ecf1fa;

    .module-row {
        @include clearFix;
        height: 37%;

        &:first-child {
            height: 26%;
        }
        & + .module-row {
            padding-top: 15px;
        }
        .col-item {
            float: left;
            width: 50%;
            height: 100%;

            & + .col-item {
                padding-left: 15px;
            }
        }
        .module-item {
            position: relative;
            padding: 15px;
            height: 100%;
            font-size: 16px;
            font-weight: bold;
            background: #fff;

            .title-item {
                position: absolute;
                left: 15px; top: 15px; right: 15px;

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .echart-wrap {
                height: 100%;
            }
        }
    }
    .message-list {
        margin-top: 10px;

        .message-item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            border-bottom: 1px dashed #eee;
            cursor: pointer;

            &:hover {
                .item-title {
                    color: #2e7ae6;
                }
            }
            .item-title {
                margin-right: 10px;
                width: 0;
                flex-grow: 1;
                color: #555;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: all .2s;
            }
            time {
                color: #ccc;
            }
        }
    }
    .project-item {
        padding: 15px;
        height: 100%;
        background: #fff;

        &:first-child {
            margin-top: 0;
        }
        &.task {
            background: #fff;

            .title-item {
               margin-bottom: 20px;
            }
            .content {
                display: flex;
                align-items: center;
            }
        }
        .task-item {
            padding: 20px 25px;
            width: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            color: #fff;
            text-align: center;
            border-radius: 4px;

            & + .task-item {
                margin-left: 10px;
            }
            .task-title {
                white-space: nowrap;
                display: block;
                font-size: 16px;
            }
            .task-number {
                display: block;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .title-item {
            display: flex;
            align-items: center;

            .title-text {
                position: relative;
                padding-left: 10px;
                width: 0;
                flex-grow: 1;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0; top: 2px; bottom: 2px;
                    width: 3px;
                    background: #2e7ae6;
                }
            }
            .tool-wrap {
                position: relative;

                button {
                    padding: 0 5px;
                    border: none;
                    border-radius: 4px;
                    font-size: 14px;
                    background: transparent;
                    transition: all .2s;
                    color: #999;
                }
            }
        }
    }
}
.page-4,
.page-5 {
    padding: 20px;
    background: #ecf1fa;

    .t-center {
        text-align: center;
    }
    .aside-tool {
        @include clearFix;
        padding: 15px;
        background: #fff;

        .title-item {
            float: left;
            line-height: 29px;

            span {
                font-size: 14px;
                font-weight: bold;
            }
            select {
                min-width: 90px;
                height: 29px;
                border: 1px solid #eee;
                border-radius: 4px;
            }
        }
        .tools {
            float: right;

            button {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                -webkit-transition: all .2s;
                transition: all .2s;

                & + button {
                    margin-left: 10px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
    }
    .table-wrap {
        margin-top: 20px;
        padding: 20px 20px 100px;
        background: #fff;

        table {
            margin: 0 auto;
            width: 100%;
            min-width: 800px;
            max-width: 1200px;

            caption {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 24px;
            }
            td {
                padding: 10px 10px;
                border: 1px solid #ddd;
            }
        }
    }
}
.page-6 {
    height: 100%;
    padding: 20px;
    background: #ecf1fa;

    .aside-tool {
        @include clearFix;
        padding: 15px;
        background: #fff;

        .title-item {
            float: left;
            line-height: 29px;

            & + .title-item {
                margin-left: 30px;
            }
            span {
                font-size: 14px;
                font-weight: bold;
            }
            select {
                min-width: 90px;
                height: 29px;
                border: 1px solid #eee;
                border-radius: 4px;
            }
        }
        .tools {
            float: right;

            button {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                -webkit-transition: all .2s;
                transition: all .2s;

                & + button {
                    margin-left: 10px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
    }
    .search-result {
        min-height: calc(100% - 80px);
        margin-top: 20px;
        padding: 20px 20px;
        background: #fff;

        .echart-wrap {
            height: 380px;
        }
    }
}
.page-7 {
    height: 100%;
    padding: 20px;
    background: #ecf1fa;

    .aside-tool {
        @include clearFix;
        padding: 15px;
        background: #fff;

        .title-item {
            float: left;
            line-height: 29px;

            & + .title-item {
                margin-left: 30px;
            }
            span {
                font-size: 14px;
                font-weight: bold;
            }
            select {
                min-width: 90px;
                height: 29px;
                border: 1px solid #eee;
                border-radius: 4px;
            }
        }
        .tools {
            float: right;

            button {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                -webkit-transition: all .2s;
                transition: all .2s;

                & + button {
                    margin-left: 10px;
                }
                &:active {
                    opacity: .7;
                }
            }
        }
    }
    .search-result {
        min-height: calc(100% - 80px);
        margin-top: 20px;
        padding: 20px 20px;
        background: #fff;

        .echart-wrap {
            position: relative;
            @include clearFix;
            margin-bottom: 20px;

            .echart {
                float: left;
                width: 60%;
                height: 380px;
            }
            .aside-table {
                position: absolute;
                right: 0; bottom: 0;
                width: 30%;
            }
        }
    }
}
.page-8 {
    padding: 15px;
    height: 100%;
    background: #f4f4f4;

    .side-menu {
        max-height: calc(100% - 60px);
        overflow-y: auto;

        & > li {
            border-top: 1px solid rgba(255, 255, 255, .1);

            &.curr {
                .menu-item {
                    i {
                        &:last-child {
                            color: #2e7ae6;

                            &:before {
                                content: "\e60f";
                            }
                        }
                    }
                }
                .inner-menu {
                    position: relative;
                    transform: scale(1, 1);
                    visibility: visible;
                }
            }
            & > .menu-item {
                position: relative;
                display: block;
                padding: 10px;
                color: #333;
                transition: all .2s;

                &:hover {
                    background: #e4e4e4;
                }
                i {
                    &:first-child {
                        margin-right: 5px;
                        font-size: 18px;
                    }
                    &:last-child {
                        @include iconfont;
                        position: absolute;
                        top: 50%; right: 20px;
                        transform: translate(0, -50%);
                        color: #566c7a;

                        &:before {
                            content: "\e60e";
                        }
                    }
                }
            }
        }
        .inner-menu {
            position: absolute;
            transform: scale(1, 0);
            transform-origin: 50% 0;
            transition: all .2s;
            visibility: hidden;

            .menu-item {
                display: block;
                padding: 10px 20px;
                color: #333;
                transition: all .2s;

                &:hover,
                &.curr {
                    font-weight: bold;
                    color: #2e7ae6;
                    background: #f4f4f4;

                    i:first-child {
                        background-color: #2e7ae6;
                    }
                }
                i {
                    &:first-child {
                        margin-right: 2px;
                        width: 5px; height: 5px;
                        border-radius: 50%;
                        background: #999;
                        vertical-align: middle;
                    }

                    & + span {
                        vertical-align: middle;
                    }
                }
                em {
                    font-size: 12px;
                    color: #f90;
                }
            }
        }
    }
    .search-wrap {
        padding: 10px 20px;
        background: #fff;
        box-shadow: 5px 5px 5px rgba(202,198,198,0.36);
        user-select: none;

        .p-input-item {
            margin-right: 20px;
        }
        .btn {
            margin-right: 10px;
        }
    }
    .search-content {
        @include clearFix;
        margin-top: 25px;
        padding: 15px;
        min-height: calc(100% - 90px);
        background: #fff;

        .tools {
            @include clearFix;
            margin-bottom: 5px;
        }
        .table-title {
            float: left;
            font-weight: bold;
        }
        .btn-wrap {
            float: right;

            .btn {
                & + .btn {
                    margin-left: 5px;
                }
            }
        }
        .order-name {
            @include textEllipsis($type: 'singleRow', $maxLength: 18em);
            color: #2e7ae6;
        }
        table {
            white-space: nowrap;
            font-size: 12px;

            .btn {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .order-state {
        i {
            margin-right: 2px;
            width: 10px; height: 10px;
        }
        span {
            font-size: 12px;
        }

        &.unread {
            i {
                background: #f36a63 ;
            }
            span {
                color: #f36a63 ;
            }
        }
        &.processing {
            i {
                background: #666 ;
            }
            span {
                color: #333 ;
            }
        }
        &.overtime {
            i {
                background: #fca556 ;
            }
            span {
                color: #fca556 ;
            }
        }
        &.urge {
            i {
                background: red ;
            }
            span {
                color: red ;
            }
        }
        &.file {
            i {
                background: #5c9cec ;
            }
            span {
                color: #5c9cec ;
            }
        }
    }
    @media screen and (max-width: 1400px) {
        .search-wrap {
            .p-input-item {
                padding: 10px 0;
            }
        }
    }
}
.page-9 {
    padding: 20px;
    min-height: 100vh;
    background: #f4f4f4;

    .title-item {
        position: relative;
        margin-bottom: 20px;
        padding: 15px 0;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            left: 0; right: 0;
            bottom: 0;
            height: 1px;
            background: #dce8fa;
        }
        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 18px;
            bottom: 18px;
            width: 3px;
            background: #2e7ae6;
        }
        .title-text {
            float: left;
            padding-left: 10px;
            font-weight: bold;
        }
    }
    .tool-wrap {
        float: right;

        button {
            padding: 4px 10px;
            color: #fff;
            border: none;
            border-radius: 4px;
            background: #2e7ae6;
            transition: all .2s;

            & + button {
                margin-left: 10px;
            }
            &:active {
                opacity: .7;
            }
        }
    }
    .main-wrap {
        padding: 0 20px 20px;
        min-height: 100vh;
        background: #fff;
    }
    .form-list {
        width: 500px;
    }
    .tips {
        margin-top: 5px;
        font-size: 12px;
        color: #f36a63;
    }
    .row {
        display: block;
        padding: 8px 0;

        &.tools {
            margin-top: 20px;

            button {
                margin-right: 20px;
                width: 80px;
            }
        }
        .file-list {
            margin-top: 20px;
        }
        .file-item {
            position: relative;
            margin-right: 15px;
            color: #2e7ae6;

            span {
                color: #2e7ae6;
                text-decoration: underline;
            }
            .btn-close {
                @include iconfont;
                position: absolute;
                right: -15px; top: -5px;
                border: none;
                color: #f36a63;
                transition: all .2s;

                &:before {
                    content: "\e6b8";
                }
                &:hover {
                    font-size: 16px;
                }
            }
        }
        .attr {
            min-width: 7em;
            padding: 8px 0;
        }
        .content input[type="text"] {
            width: 100%;
            height: 35px;
        }
    }
    .filter {
        margin-top: 15px;
    }
    .btn-cancel {
        border: 1px solid #2e7ae6;
        color: #2e7ae6;
        background: #fff;
    }
}
.edit-dialog {
    padding: 15px;
    background: #fff;
    overflow-x: auto;

    .tool-wrap {
        float: right;

        button {
            padding: 4px 10px;
            color: #fff;
            border: none;
            border-radius: 4px;
            background: #2e7ae6;
            transition: all .2s;

            & + button {
                margin-left: 10px;
            }
            &:active {
                opacity: .7;
            }
        }
    }
    .input-item {
        select,
        textarea,
        input[type="text"] {
            display: inline-block;
            padding: 0 10px;
            width: 100%;
            height: 30px;
            border: none;
            background: transparent;

            &::-webkit-input-placeholder {
                color: #c6d0db;
            }
        }
        input[type="text"] {
            padding-right: 35px;
        }
    }
    .form-list {
        width: 500px;

        &.horizontal {
            @include clearFix;
            width: 100%;

            .form-item {
                float: left;
                margin-right: 30px;
            }
        }
        .tool-wrap {
            float: left;
            padding: 10px 0;
        }
    }
    .form-item {
        @include clearFix;
        padding: 10px 0;

        .attr {
            float: left;
            margin-right: 10px;

            .attr-text {
                line-height: 30px;
                text-align: left;
            }
        }
        .content {
            position: relative;
            overflow: hidden;
            border: 1px solid #eee;
            border-radius: 4px;

            i {
                @include iconfont;
                position: absolute;
                top: 50%; right: 5px;
                font-size: 18px;
                transform: translate(0,-50%);
            }
        }
        select {
            width: 200px;
        }
    }
    .search-result {
        margin-top: 20px;
        overflow-x: scroll;

        table {
            font-size: 12px;
            white-space: nowrap;

            .btn-look {
                padding: 4px 10px;
                color: #fff;
                border: none;
                border-radius: 4px;
                background: #2e7ae6;
                transition: all .2s;

                &:active {
                    opacity: .7;
                }
            }
            .state-end {
                padding: 5px 10px;
                border-radius: 4px;
                background: #e8ebef;
            }
            .state-ing {
                padding: 5px 10px;
                border-radius: 4px;
                background: #f90;
                color: #fff;
            }
            .state-finish {
                padding: 5px 10px;
                border-radius: 4px;
                background: #19be6b;
                color: #fff;
            }
            .liucheng-name {
                max-width: 20em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #2e7ae6;
            }
        }
    }
}
